body {
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 960px;
    height: 525px;
    background-image: url('../images/Mask\ Group.png');
    margin: auto;
    /* left: 0px;
    top: 0px;
    position: absolute; */
    background-repeat: no-repeat;
}

header h1{
    margin-top: 0px;
    /* position: absolute; */
    /* left: 350px;
    top: 25px; */
    text-align: center;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;

    color: #FFFFFF;

}

.seccion-header {

    width: 365px;
    background: rgba(114, 153, 254, 0.5);
    border-radius: 10px;
    margin-top: 195px;
    margin-left: 40px;
}
header h3 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    padding: 16px;
}

main {
    width: 960px;
    margin:auto;
}
.SOBREMI {

    /* position: absolute; */
    height: 424px;
    /* left: 0px; */
    /* top: 525px; */
    background: #7299FE;


}

.SOBREMI-titulo { 
    text-align: center;
    padding-top: 27px;
    margin: 0px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF
}
.SOBREMI-contenido {
    /* position: absolute; */
width: 872px;
/* left: 41px; */
/* top: 622px; */
margin-left: 40px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #F8F8F8;

}

.BOTON input {
    margin-left: 40px;
    background: #D16FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 187px;
    height: 62px;
    margin-top: 10px;
}

.seccion3 {
    margin: auto;
    background: #9122dd;
    width: 960px;
    height: 424px;
    position: relative;
}

.seccion3 h2 {
    position: absolute;
    margin: 31px 391px 352px 404px;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
}

.seccion3-skills_1 {
    position: absolute;
    margin-top: 105px;
    margin-left: 64px;


}


.seccion3-skills_2 {
    position: absolute;
    margin-top: 105px;
    margin-left: 500px;

}



.seccion3-container {
    width: 403px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 25px;
    
}

.seccion3-items {
    margin-bottom: 14px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
}

.skills {
    width: 185px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #57eff9;
}

.seccion4 {
    position: relative;
    width: 960px;
    height: 424px;
    background: #ffd233;
    margin: auto;
}

.seccion4-titulo {
    position: absolute;
    margin-top: 42px;
    margin-left: 399px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: border;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;

}

.seccion4-imagen {
    position: absolute;
    width: 700px;
    height: 198px;
    margin-top: 130px;
    margin-left: 183px;
}

.seccion4-image {
    margin-right: 11px;
    margin-bottom: 14px;
    cursor: pointer;
}

input:focus {
    background: pink;
}